.bookNotes {
  text-align: left;
}

.table {
  text-align: center;
}

.noteTitle {
  text-align: center;
  padding-bottom: 20px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
