* {
  font-family: "Helvetica-light", "Arial", sans-serif;
}

.start {
  color: #695e88;
  font-size: 25px;
  font-weight: 600;
}

.start:hover {
  color: #695e88;
}

.homepage {
  background-color: none;
}

button {
  border-color: #f8f9fa;
  background-color: #f8f9fa;
}

input {
  width: 95vh;
  border-width: 1px 1px 1px 1px;
}

body,
html {
  height: 100%;
  margin: 0;
  position: relative;
}

.timestamp {
  color: gray;
  margin-top: 5px;
  font-size: 13px;
  opacity: 0.7;
  align: right;
}

.bookList {
  width: 50%;
}

.testbg {
  background-image: url("Images/mountain.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #695e88;
  font-weight: bold !important;
  font-size: 35;
}

.subtitle {
  color: #695e88;
  font-size: 25;
}

#outer {
  width: 100%;
  height: 80vh;
  display: flex;
}

#inner {
  margin: auto;
}

/*
.darkMode {
  background-color: #262626;
  color: white;
}

.card.bg-dark {
  background-color: #202020 !important;
}

.cardText {
  background-color: #1f1f1f;
}

*/

.cardSize {
  height: 50%;
  width: 50%;
}

.bookNotes {
  text-align: left;
}

.table {
  text-align: center;
}

.noteTitle {
  text-align: center;
  padding-bottom: 20px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1; /*Add this*/
}

@media screen and (max-width: 830px) {
  input {
    width: 40vh;
  }
}
