* {
  font-family: "Helvetica", "Arial", sans-serif;

  background-color: #262626;
}

.darkMode {
  background-color: #262626;
  color: white;
}

.card.bg-dark {
  background-color: #202020 !important;
}

.bookNotes {
  text-align: left;
}

.table {
  text-align: center;
}

.noteTitle {
  text-align: center;
  padding-bottom: 20px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
