* {
  font-family: "Helvetica-light", "Arial", sans-serif;

  /*
  background-color: #262626;
  */
}

body,
html {
  height: 100%;
  margin: 0;
  position: relative;
}

.testbg {
  background-image: url("Images/mountain3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #695e88;
  font-weight: bold !important;
  font-size: 35;
}

.subtitle {
  color: #695e88;
  font-size: 25;
}

#outer {
  width: 100%;
  height: 80vh;
  display: flex;
}

#inner {
  margin: auto;
}

/*
.darkMode {
  background-color: #262626;
  color: white;
}

.card.bg-dark {
  background-color: #202020 !important;
}

.cardText {
  background-color: #1f1f1f;
}

*/

.cardSize {
  height: 50%;
  width: 50%;
}

.bookNotes {
  text-align: left;
}

.table {
  text-align: center;
}

.noteTitle {
  text-align: center;
  padding-bottom: 20px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1; /*Add this*/
}
