
<!DOCTYPE html>

<html lang="en" class="has-lab-nav-bottom lab-theme-light">
<head>
   <title><%= BookInfo.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
      


<body>
   
 
<div class="table-responsive"> 
<table class="table">
	
  <thead class = "thead-dark">
    <tr>
      <th scope="col"><%= BookInfo.title %></th>

       

    </tr>
  </thead>


  <tbody>

    <% for(var i=0; i < lineAmount; i++) { %>
    <tr>
      
      <td>
        <%= oneLineContent[i]%>
        

      </td>
      
      </tr>
          <% } %>
   


  </tbody>
</table>

</div>
<center>
  <a href="/Andy/getAppendForm/<%=id%>"> Append notes here</a>

</center>


 

  
  </html>