
<!DOCTYPE html>

<html lang="en" class="has-lab-nav-bottom lab-theme-light">
<head>
   <title>Current Books</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
      


<body>
   
 
<div class="table-responsive"> 
<table class="table">
	
  <thead class = "thead-dark">
    <tr>
      <th scope="col">Current Books I'm Reading</th>


    </tr>
  </thead>


  <tbody>
  <% for(var i=0; i < result.length; i++) { %>
    <tr>
      <td>
      	<a href="/Austin/getBookSummary/<%= result[i]._id %>">
      		<%= result[i].title %>
      	</a>
      </td>
    </tr>
    <% } %>
   


  </tbody>
</table>

</div>

<div class = "noteTitle"> 
<a href="/Austin/getBookForm"> Click here to create new book summary </a>
</div>

 

  
  </html>